<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <style>
    .error {
      color: red;
    }
  </style>
  <body>
    <h1>Welcome to the Movie Theatre Reservation App!</h1>
    <h2>Login</h2>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
      <p>
        Username: <input type="text" th:field="*{userName}" id="userName" />
      </p>
      <p
        th:if="${#fields.hasErrors('userName')}"
        th:errorclass="error"
        th:errors="*{userName}"
      />
      <p>
        Password: <input type="text" th:field="*{password}" id="password" />
      </p>
      <p
        th:if="${#fields.hasErrors('password')}"
        th:errorclass="error"
        th:errors="*{password}"
      />
      <input type="submit" value="Submit" />
      <div th:if="${#fields.hasErrors('global')}">
        <li
          th:each="err : ${#fields.errors('global')}"
          th:text="${err}"
          class="error"
        ></li>
      </div>
    </form>
    <ul>
      <li>
        <a th:href="@{/register}">Not registered? Click here to register</a>
      </li>
      <li><a th:href="@{/theatre}">Continue as guest</a></li>
    </ul>
  </body>
</html>
