<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <style>
    .error {
      color: red;
    }
  </style>
  <body>
    <h1>Welcome to the Movie Theatre Reservation App!</h1>
    <h2>Login</h2>
    <form
      action="#"
      th:action="@{/login}"
      th:object="${loginForm}"
      method="post"
    >
      <p>
        Username:
        <input type="text" th:field="*{userName}" id="userName" required />
      </p>
      <p>
        Password:
        <input type="password" th:field="*{password}" id="password" required />
      </p>
      <input type="submit" value="Submit" />
      <div th:if="${#fields.hasErrors('global')}">
        <p
          th:each="err : ${#fields.errors('global')}"
          th:text="${err}"
          class="error"
        ></p>
      </div>
    </form>
    <ul>
      <li>
        <a th:href="@{/register}">Not registered? Click here to register</a>
      </li>
      <li><a th:href="@{/movie}">Continue as guest</a></li>
    </ul>
  </body>
</html>
