<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Payment Confirmed</title>
  </head>
  <body>
    <h2>Payment Confirmed! Ticket Details:</h2>
    <p th:text="'First Name: ' + ${user.firstName}" />
    <p th:text="'Last Name: ' + ${user.lastName}" />
    <p th:text="'Movie: ' + ${movie.name}" />
    <p th:text="'Theatre: ' + ${theatre.name}" />
    <p th:text="'Showtime: ' + ${showtime.startTime}" />
    <p th:text="'Seat Row: ' + ${seat.seatRow}" />
    <p th:text="'Seat Number: ' + ${seat.seatColumn}" />
    <p th:text="'Ticket Price: $' + ${seat.price}" />
    <p th:text="'Ticket Number: ' + ${ticket.id}" />
    <a th:href="@{/movie}" class="btn btn-primary">Make another selection</a>
    <ul>
      <li>
        <div th:if="${registeredUser}">
          <a th:href="@{/login}">Logout</a>
        </div>
        <div th:unless="${registeredUser}">
          <a th:href="@{/login}">Login</a>
        </div>
      </li>
    </ul>
  </body>
</html>
