<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <style>
    .error {
      color: red;
    }
  </style>
  <body>
    <h2>User Registration</h2>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
      <p>First Name: <input type="text" th:field="*{firstName}" /></p>
      <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
      <p>Email: <input type="text" th:field="*{email}" /></p>
      <p>Password: <input type="text" th:field="*{password}" /></p>
      <p>Credit Card Number: <input type="text" th:field="*{creditCard}" /></p>
      <p>Expiry Date: <input type="text" th:field="*{expiryDate}" /></p>
      <p>CVC: <input type="text" th:field="*{cvcNumber}" /></p>
      <input type="submit" value="Submit" />
      <div th:if="${#fields.hasAnyErrors()}">
        <ul>
          <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
      </div>
      <div th:if="${#fields.hasErrors('global')}">
        <li
          th:each="err : ${#fields.errors('global')}"
          th:text="${err}"
          class="error"
        ></li>
      </div>
    </form>

    <ul>
      <li>
        <a th:href="@{/login}">Back to login</a>
      </li>
    </ul>
  </body>
</html>
