<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Payment Info</title>
  </head>
  <style>
    .error {
      color: red;
    }
  </style>
  <body>
    <h2>User Payment Info</h2>
    <div class="form">
      <form
        action="#"
        th:action="@{/payment}"
        th:object="${user}"
        method="post"
      >
        <p>
          First Name: <input type="text" th:field="*{firstName}" required />
        </p>
        <p>Last Name: <input type="text" th:field="*{lastName}" required /></p>
        <p>Email: <input type="email" th:field="*{email}" required /></p>
        <p>
          Credit Card Number:
          <input type="number" th:field="*{creditCard}" required />
        </p>
        <p>
          Expiry Date: <input type="number" th:field="*{expiryDate}" required />
        </p>
        <p>CVC: <input type="number" th:field="*{cvcNumber}" required /></p>
        <input type="submit" value="Submit" />
        <div th:if="${#fields.hasAnyErrors()}">
          <ul>
            <li
              th:each="err : ${#fields.allErrors()}"
              th:text="${err}"
              class="error"
            ></li>
          </ul>
        </div>
        <div th:if="${#fields.hasErrors('global')}">
          <li
            th:each="err : ${#fields.errors('global')}"
            th:text="${err}"
            class="error"
          ></li>
        </div>
      </form>
    </div>

    <ul>
      <li>
        <a th:href="@{/login}">Back to login</a>
      </li>
    </ul>
  </body>
</html>
